[Unit]
Description=MuPiBox-NG update to release %i
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/lib/mupibox-ng/update-release.sh %i
TimeoutStartSec=30min
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true

[Install]
WantedBy=multi-user.target
